body{
  background-color: #A3C7DD;
  color: white;
  height: 100vh;
  font-family: 'Indie Flower', cursive;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 50px;
}

.answer{
  word-wrap: break-word;
}

h1, h2{
  margin: 0;
}

h1, h2, p{
  text-align: center;
}

p{
  font-size:1.2em;
}

#externalBall{
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 60%);
  height: 80vmin;
  width: 80vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 25px 100px white;
}

#internalBall{
  border-radius: 50%;
  background-color: white;
  border: 2px double lightgrey;
  color: black;
  height: 40vmin;
  width: 40vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shake {
  animation-name: shake;
  animation-duration:1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-5px);
  }
  
  20%, 80% {
    transform: translateX(10px);
  }

  30%, 50%, 70% {
    transform: translateX(-8px);
  }

  40%, 60% {
    transform: translateX(8px);
  }
}