body{
  background-color: #B39CAF;
  color: white;
  font-family: 'Indie Flower', cursive;
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer{
  position: absolute;
  bottom: 0px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(131, 98, 125);
}

.copyright *{
  color: white;
  font-size: small;
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

header{
  height: 15vh;
}

#createdBy{
  font-size: small;
  margin: 0;
  padding: 0;
}

.answer{
  word-wrap: break-word !important;
}

h1, h2{
  margin: 0;
}

h1, h2, p{
  text-align: center;
}

p{
  font-size:1.2em;
}

#externalBall{
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 60%);
  height: 70vmin;
  width: 70vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 25px 100px white;
}

#externalBall:hover{
  transition: 1s ease;
  cursor: url(./media/icons8-fantasy-64.png), auto;
}

#internalBall{
  border-radius: 50%;
  background-color: white;
  border: 2px double lightgrey;
  color: black;
  height: 40vmin;
  width: 40vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shake {
  animation-name: shake;
  animation-duration:1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-5px);
  }
  
  20%, 80% {
    transform: translateX(10px);
  }

  30%, 50%, 70% {
    transform: translateX(-8px);
  }

  40%, 60% {
    transform: translateX(8px);
  }
}